<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart Detail</title>
</head>
<body>
{% load cart_tag %}

Total Length : {{request.session.cart|length}}
<br>
Cart Detail:
<br>
{% for key,value in request.session.cart.items %}
    <br>
        {{'Название - '}} {{value.name}}
    <br>
        {{'Стоимость = '}} {{value.price}}
    <br>
        {{'Количество = '}}{{value.quantity}}
    <br>
        <img src="{{ value.image }}" width="300" height="300">
    <br>
        {{"Итого"}} = {{ value.price|multiply:value.quantity }} <br>

{% endfor %}
<br>
    <h3><a href="{% url 'payment' %}">Payment</a></h3>
<br>
    <h3><a href="{% url 'cart_clear' %}"> Clear Cart </a></h3>
<br>
   <h3> <a href="{% url 'home' %}">Home</a></h3>
<br>
</body>

</html>